{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('static/img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what we do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>We are a fast-growing media platform focused on bring pretoria hip-hop news to the world. We aim to give a voice to the silent, keeping you posted on what's going on locally, within the industry, then the world. </p>
        <p>Not only in the Hip-Hop, but the culture as a whole, from art, creative space, event, and awareness in growing local talents.   </p>
        <p>If you have a creative story within the arts of creativity, contact us so we can help spread the word of your amazing creative work.</p>
      </div>
    </div>
  </div>

  <hr>
{% include "footer.html" %}